
<h1>Episodios</h1>

<section>
    <input type="text" class="form-control mb-2" placeholder="Episodio" #txtSearch (keyup)="onSearchEpisodio(txtSearch.value)">


	<div class="item feature" *ngFor="let episodio of morty | filtro:page:search" >
		<h3>{{episodio.id}}. {{episodio.name}}</h3>
        <p>{{episodio.episode}}, {{episodio.air_date}}, </p>
       
	</div>
    <section>
        <div class="item" *ngFor="let personaje of rick">
            <h3>Personajes</h3>
            <p>{{personaje.name}}</p>
            <img  [src]="personaje.pic">
            <button>Mas Informacion</button>
        </div>
    </section>
        
</section>


