<div class="content">
	<h1>Episodios</h1>
	<div class="number-input">
		<input type="number" #inicio>
		<input type="number" #final>
		<button (click)="listarEp(inicio.value, final.value)">Listar Episodios</button>
	</div>

	<div class="description">
		<ul class="team">
			<li class="member co-funder" *ngFor="let episodio of morty">
				<div class="description">
					<h3>{{episodio.id}}, {{episodio.name}}</h3>
					<p>{{episodio.air_date}}</p>
					<p>{{episodio.episode}}</p>
					<p>{{episodio.characters}}</p>
					<p>{{episodio.pic}}</p>
					<div class="card-body">
						<button (click)="getDeatlles()">Informacion del personaje</button>
					</div>
				</div>			 
			</li>
		</ul>
	</div>
</div>



<!--Otro contenido-->
<div class="content">

	<ul class="team">
		<li class="member co-funder" *ngFor="let personaje of rick ">
			<div class="thumb"><img [src]="personaje.pic"></div>
			<div class="description">
				<h3>{{personaje.name}}</h3>
				<p>{{personaje.id}}</p>
				<p>Si quieres mas informacion del personaje solo da click en el boton<br><button 
						(click)="getDeatlles()">Mas informacion</button></p>
			</div>
		</li>
	</ul>

</div>



<!-- <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4"
         *ngFor="let character of allCharacter">
        <div class="card mb-3 border">
            <img [src]="character.image" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title pl-3">{{character.name | slice: 6:30}}</h5>
                <p class="card-text text-muted pl-3">{{character.species}}</p>
                <a [routerLink]="['/detalles/',character.id]"></a>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="col mb-4">
    <div class="card h-100" *ngFor="let item of characters">
        <img [src]="item.image" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text"></p>
            <button  (click)="getDeatlles()">See more</button>
        </div>
    </div>
</div> -->