
<div class="asidebar" *ngFor="let personaje of rick">
    <header class="aside-header">
        <h2>Personaje</h2>
    </header>
    <img [src]="personaje.pic" >
    <P>Name: {{personaje.name}}</P>
    <P>Status: {{personaje.status}}</P>
    <P>Species: {{personaje.specie}}</P>
    <P>Gender:{{personaje.gender}}</P>
    <section>
        <p>Episodes</p>
        <ul>
            <li>{{personaje.episode}}</li>
        </ul>
    </section>
    <button (click)="getDeatlles()">Volver a inicio</button>
</div>
