
<div class="a-box">
    <div class="img-container" >
      <div class="img-inner">
        <div class="inner-skew">
          <img [src]="character.image">
        </div>
      </div>
    </div>
    <div class="text-container">
      <h3>A blue bird</h3>
      <div>
        <ul class="list-group">
            <li class="list-group-item active">{{character.name}}</li>
            <li class="list-group-item"><strong>Specie:</strong> {{character.species}}</li>
            <li class="list-group-item"><strong>Gender:</strong> {{character.gender}}</li>
            <li class="list-group-item"><strong>Status:</strong> {{character.status}}</li>                        
        </ul>
        <button  (click)="getRegreso()">Volver a inicio</button>
    </div>
  </div>


<!-- 
<div class="asidebar" *ngFor="let personaje of rick">
    <header class="aside-header">
        <h2>Personaje</h2>
    </header>
    <img [src]="personaje.pic" >
    <P>Name: {{personaje.name}}</P>
    <P>Status: {{personaje.status}}</P>
    <P>Species: {{personaje.specie}}</P>
    <P>Gender:{{personaje.gender}}</P>
    <section>
        <p>Episodes</p>
        <ul>
            <li>{{personaje.episode}}</li>
        </ul>
    </section>
    <button (click)="getRegreso()">Volver a inicio</button>
</div> -->

<!-- 
<div class="card shadow-sm w-100 mt-5"
     *ngIf="character$ | async as character">
    <h5 class="card-header text-dark bg-warning">{{character.name}}</h5>
    <div class="row no-gutters">
        <div class="col-md-4">
            <img [src]="character.image"
                 [alt]="character.name"
                 class="card-img img-fluid">
        </div>
        <div class="col-md-8 my-auto">
            <div class="card-body">
                <div class="row border-top py-3 mx-3">
                    <div class="text-muted col-3">Spice:</div>
                    <div class="col-9">{{character.species}}</div>
                </div>
                <div class="row border-top py-3 mx-3">
                    <div class="text-muted col-3">Gender:</div>
                    <div class="col-9">{{character.gender}}</div>
                </div>
                <div class="row border-top py-3 mx-3">
                    <div class="text-muted col-3">Status</div>
                    <div class="col-9"
                         [ngClass]="{'alert-success': (character.status ==='Alive'), 'alert-danger': (character.status === 'Dead')}">
                        {{character.status}}</div>
                </div>
                <div class="row border-top border-bottom py-3 mx-3">
                    <div class="text-muted col-3">Created:</div>
                    <div class="col-9">{{character.created | date}}</div>
                </div>
            </div>
        </div>
    </div>
</div> -->