
<div class="login-box">
    <h2>Episodios a mostrar</h2>
    <form (ngSubmit)="buscarEpisodio()">
      <label style="color: aliceblue;">Del episodio</label>
      <div class="user-box">
        <select name="id1" [(ngModel)]="id1Seleccionado">
          <option *ngFor="let episodio of episodios" [value]="episodio.id">{{episodio.id}}</option>
        </select>
      </div>
      <label style="color: aliceblue;">Hasta el episodio</label>
      <div class="user-box">

        <select name="id2" [(ngModel)]="id2Seleccionado">
          <option *ngFor="let episodio of episodios" [value]="episodio.id">{{episodio.id}}</option>
        </select>

      </div>
      
      <button type="submit">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Mas informacion 
      </button>
    </form>
  </div>

  


